{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row justify-content-md-center">
      <div class="col-md-6 ">
        <div class="panel panel-default">
          <div class="card-header">
            Sign up
          </div>
          <div class="card-body">
            <form action="{{path_for('auth.signup')}}" method="post" autocomplete="off">

              <div class="form-group ">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="you@domain.com" value="{{old.email}}"
                class = "form-control {{errors.email ? 'is-invalid': ''}}">

                {% if errors.email %}
                  <span class="invalid-feedback">{{errors.email | first}}
                {% endif %}

              </div>
              <div class="form-group ">

                <label for="name">Name</label>
                <input type="text" name="name" id="name"  value="{{old.name}} " class = "form-control {{errors.name ? 'is-invalid': ''}}">

                {% if errors.name %}
                  <span class="invalid-feedback"> {{errors.name | first}}
                {% endif %}
              </div>
              <div class="form-group ">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class = "form-control {{errors.password ? 'is-invalid': ''}}">
                {% if errors.password %}
                  <span class="invalid-feedback"> {{errors.password | first}}
                {% endif %}
              </div>

              <button type="submit" class="btn btn-default">Sign up</button>

              {{ csrf.field | raw }}

            </form>
          </div>
        </div>
      </div>

    </div>

{% endblock %}
