{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row justify-content-md-center">
      <div class="col-md-6 ">
        <div class="panel panel-default">
          <div class="card-header">
            Change Password
          </div>
          <div class="card-body">
            <form action="{{path_for('auth.password.change')}}" method="post" autocomplete="off">

              <div class="form-group ">
                <label for="password_old">Current Password</label>
                <input type="password" name="password_old" id="password_old" class = "form-control {{errors.password_old ? 'is-invalid': ''}}">
                {% if errors.password_old %}
                  <span class="invalid-feedback"> {{errors.password_old | first}}
                {% endif %}
              </div>

              <div class="form-group ">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class = "form-control {{errors.password ? 'is-invalid': ''}}">
                {% if errors.password %}
                  <span class="invalid-feedback"> {{errors.password | first}}
                {% endif %}
              </div>

              <button type="submit" class="btn btn-default">Change Password</button>

              {{ csrf.field | raw }}

            </form>
          </div>
        </div>
      </div>

    </div>

{% endblock %}
