{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row justify-content-md-center">
      <div class="col-md-6 ">
        <div class="panel panel-default">
          <div class="card-header">
            Add company
          </div>
          <div class="card-body">
            <form action="{{path_for('add.company')}}" method="post" autocomplete="off">

              <div class="form-group ">

                    <label for="name">Name</label>
                    <input type="text" name="name" id="name"  value="{{old.name}} " class = "form-control {{errors.name ? 'is-invalid': ''}}">

                    {% if errors.name %}
                      <span class="invalid-feedback"> {{errors.name | first}}
                    {% endif %}
              </div>

              <button type="submit" class="btn btn-default">Sign up</button>

              {{ csrf.field | raw }}

            </form>
          </div>
        </div>
      </div>

    </div>

{% endblock %}
