{% if flash.getMessage('info') %}
  <div class="alert alert-info" role="alert">
    {{ flash.getMessage('info') | first }}
  </div>
{% endif %}

{% if flash.getMessage('error') %}
  <div class="alert alert-danger" role="alert">
    {{ flash.getMessage('error') | first }}
  </div>
{% endif %}
