<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container">

      <a class="navbar-brand" href="{{ path_for('home') }}">Code course</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">

          <li class="nav-item ">
            <a class="nav-link" href="{{ path_for('home') }}">Home </a>
          </li>
        </ul>

          <ul class="navbar-nav ml-auto ">
          {% if auth.check %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ auth.user.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ path_for('auth.password.change')}}">Change password</a>
                <a class="dropdown-item" href="{{ path_for('auth.signout') }}">Sign out</a>
                <a class="dropdown-item" href="{{ path_for('add.company') }}">Add company</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ path_for('auth.signup') }}">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path_for('auth.signin') }}">Sign in</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>﻿
